:root {
  --white-primary: #ffffff;
  --black-primary: #000000;
  --blue-primary: #34375d;
  --blue-secondary: #4b5097;
  --blue-primary-hover: #46486f;
  --blue-secondary-hover: #2b3679;
  --blue-tertiary: #2c6a85;
  --blue-quaternary: #64b0c8;
  --grey-primary: #f7f7f7;
  --grey-secondary: #6b7280;
  --grey-tertiary: #4b5563;
  --grey-quaternary: #d4d4d4;
  --grey-primary-hover: #e2e2e2;
  --red-primary: #a52326;
  --red-secondary: #f1685e;
  --red-primary-hover: #c7433f;
  --red-secondary-hover: #bf3c38;
  --red-tertiary: #cd3764;
  --green-primary: #62e2b4;
  --yellow-primary: #ffb961;
  --yellow-secondary: #e5a34f;
  --yellow-tertiary: #fff1df;
}

body {
  margin: 0;
}

.canvas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.node > .node-contents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  > *:not(:has(*)) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.node.selected > .node-contents,
.node.selectable > .node-contents:hover {
  --opacity: 50%;
  box-shadow: 0 0 0 4px var(--white-primary),
    0 0 0 8px color-mix(in srgb, transparent, var(--node-color) var(--opacity));
}
.node.selected > .node-contents {
  --opacity: 100% !important;
}

.node.expr {
  border-radius: 1.5rem;
  > .node-contents {
    border-radius: inherit;
  }
}
.node.kind > .node-contents {
  transform: rotate(45deg)
    /* Scale by (1 + 1/√2)/2 so that bounding square (used for tree layout) is a good approximation. */
    scale(0.854);
  > * {
    /* Rotate the content back to its correct orientation. */
    transform: rotate(-45deg);
  }
}

.node.syntax {
  color: var(--white-primary);
  > .node-contents {
    background-color: var(--node-color);
  }
}
.node.non-syntax {
  color: var(--blue-primary);
  > .node-contents {
    border-style: solid;
    box-sizing: border-box;
    border-width: 0.25rem;
    border-color: var(--node-color);
    background-color: var(--white-primary);
  }
}

.node.ann {
  --node-color: var(--black-primary);
}
.node.app,
.node.type-expr-app,
.node.type-app {
  --node-color: var(--blue-tertiary);
}
.node.lam,
.node.type-fun,
.node.kind-fun {
  --node-color: var(--blue-primary);
}
.node.type-lam,
.node.forall {
  --node-color: var(--blue-secondary);
}
.node.let,
.node.let-type,
.node.letrec,
.node.type-let {
  --node-color: var(--blue-quaternary);
}
.node.match,
.node.fallback {
  --node-color: var(--yellow-primary);
}
.node.kind-type {
  --node-color: var(--green-primary);
}
.node.var {
  --node-color: var(--blue-quaternary);
}
.node.con,
.node.prim {
  --node-color: var(--green-primary);
}
.node.hole {
  --node-color: var(--red-tertiary);
}
.node.pattern-box {
  > .node-contents {
    background-color: var(--yellow-tertiary);
  }
  --node-color: var(--yellow-primary);
}

.edge {
  border-color: var(--node-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
  border-style: solid;
  border-width: 0.125rem;
}
